<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--==========================
  Header
  ============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#hero">Haven</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#map">Find Havens</a></li>
        <li><a href="../resources">Resources</a></li>
<!--          <li><a href="../login">Login</a></li>-->
<!--          <li><a href="../register">Register</a></li>-->
<!--        <li>-->
<!--        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>-->

<!--        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--            <input hidden type="submit" value="Sign Out"/>-->
<!--        </form></li>-->
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Haven</h1>
      <h2>Search to locate safe havens near you</h2>
      <a href="#map" class="btn-get-started">Find Havens</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--=======About Us Section=======-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-10 content order-lg-1 order-2 section-header">
            <h2 class="section-title">About</h2><br>
            <p class="paragraph">
               Haven was created to help victims of domestic violence find nearby locations that that they may go to and be safe. Haven also provides resources that may be useful to help victims break the cycle of violence. Abuse can be physical, sexual, emotional, economic, psychological, or some combination thereof.
            </p>

            <div class="icon-box wow fadeInUp">
              <p class="description">On average, nearly 20 people per minute are physically abused by an intimate partner in the United States. During one year, this equates to more than 10 million women and men.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <p class="description">1 in 4 women and 1 in 7 men have been victims of severe physical violence (e.g. beating, burning, strangling) by an intimate partner in their lifetime.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <p class="description">On a typical day, there are more than 20,000 phone calls placed to domestic violence hotlines nationwide.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                <p class="description">Intimate partner violence accounts for 15% of all violent crime.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.8s">
                <p class="description">Domestic violence is the leading cause of injury to women—more than car accidents, muggings, and rapes combined.</p>
            </div><br><br><br><br><br><br>

          </div>
        </div>

      </div>
    </section><!-- #about --


    <!====Map Section=======-->
    <section id="map">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Nearby Safe Havens</h3><br>
            <small>(Click the left or right side of the map to scroll to different category maps)</small>
        </div>
      </div>
    </section>

    <div class="container">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <iframe width="100%" height="550" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=women's%20shelter&key=AIzaSyCf-QFhDBjEovUNM66QT23EFTIs9uWCaDk" allowfullscreen></iframe>

                  <div class="carousel-caption">
                      <h4 class="btn btn-dark">Women's Shelters</h4>
                  </div>
              </div>
              <div class="carousel-item">
                  <iframe width="100%" height="550" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=churches&key=AIzaSyCf-QFhDBjEovUNM66QT23EFTIs9uWCaDk" allowfullscreen></iframe>

                  <div class="carousel-caption">
                      <h4 class="btn btn-dark">Churches and Religious Organizations</h4>
                  </div>
              </div>
              <div class="carousel-item">
                  <iframe width="100%" height="550" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=fire%20stations,+police%20stations&key=AIzaSyCf-QFhDBjEovUNM66QT23EFTIs9uWCaDk" allowfullscreen></iframe>

                  <div class="carousel-caption">
                      <h4 class="btn btn-dark">Police and Fire Stations</h4>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div>

  </main>

  <!--========Footer==========-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Haven</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
