<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/">Haven</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="../">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#map">Find Havens</a></li>
                <li class="menu-active"><a href="../resources">Resources</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../register">Register</a></li>
            </ul>
            <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

            <form class="form-inline my-2 my-lg-0" name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
            <!--                    <a class="nav-link" th:if="${#request.userPrincipal != null}" th:action="@{/logout}" method="post">Sign Out</a>-->

        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<div class="container"><br/><br/><br/><br/><br/>
    <h4 th:text="${title}">Default Title</h4><br/>

    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!<br/>
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
            </span>

    </div>

    <form method="post" th:action="@{/login}">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
        </div>
        <button type="submit" class="btn btn-secondary">Log In</button>
        <a href="updatepassword">Forgot password?</a>
    </form>

</div>
</body>

</html>