<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/">Haven</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="../">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#map">Find Havens</a></li>
                <li class="menu-active"><a href="../resources">Resources</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../register">Register</a></li>
                <li>
                    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<div class="container"><br/><br/><br/><br/><br/>
    <h4 th:text="${title}">Default Title</h4>
    <br/>

    <form method="post" th:action="@{/register}" th:object="${user}">
        <div class="form-group col-md-6">
            <label th:for="email">Email address</label>
            <input type="email" class="form-control" th:field="*{email}" name="email" id="email" aria-describedby="emailHelp" placeholder="Email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span th:errors="*{email}" class="error"></span>
        </div>
        <div class="form-group col-md-6">
            <label th:for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" name="password" id="password" placeholder="Password" />
            <span th:errors="*{password}" class="error"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="verifypassword">Verify Password</label>
            <input type="password" class="form-control" name="verifypassword" id="verifypassword" placeholder="Re-Type Password" />
            <span class="error" th:text="${verifyError}"></span>
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>

</body>

</html>