<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/">Haven</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="../">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#map">Find Havens</a></li>
                <li class="menu-active"><a href="../resources">Resources</a></li>
<!--                <li><a href="../login">Login</a></li>-->
<!--                <li><a href="../register">Register</a></li>-->
<!--                <li>-->
<!--                    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>-->

<!--                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--                        <input hidden type="submit" value="Sign Out"/>-->
<!--                    </form></li>-->
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->


<br/><br/><br/><br/><br/>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Domestic Violence Organizations & Hotlines
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.thehotline.com">National Domestic Violence Hotline</a></h5>
                                <small>1-800-799-SAFE</small>
                            </div>
                            <p class="mb-1">National Domestic Violence Hotline can help victims, survivors of domestic violence. Call 1-800-799-7233. Chat w/ an advocate on their website.</p>
                            <small><a href="https://www.thehotline.com">www.thehotline.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.safehorizon.org">Safe Horizon</a></h5>
                                <small>1-800-621-HOPE</small>
                            </div>
                            <p class="mb-1">Their three 24-hour hotlines operate seven days a week, 365 days a year. Advocates are standing by right now to help you. For help with domestic violence, please call their domestic violence hotline: 1- 800-621-HOPE (4673).</p>
                            <small><a href="https://www.safehorizon.org">www.safehorizon.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://victimconnect.org/">Victim Connect</a></h5>
                                <small>1-855-4-VICTIM</small>
                            </div>
                            <p class="mb-1">The VictimConnect Resource Center is a referral helpline where crime victims can learn about their rights and options confidentially and compassionately. </p>
                            <small><a href="https://victimconnect.org/">www.victimconnect.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.loveisrespect.org/">Love Is Respect</a></h5>
                                <small>1-866-331-9474</small>
                            </div>
                            <p class="mb-1">Highly-trained advocates offer support, information and advocacy to young people who have questions or concerns about their dating relationships. We also provide information and support to concerned friends and family members, teachers, counselors, service providers and members of law enforcement. Free and confidential phone, live chat and texting services are available 24/7/365.</p>
                            <small><a href="https://www.loveisrespect.org/">www.loveisrespect.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.domesticshelters.org/">Domestic Shelters</a></h5>
                            </div>
                            <p class="mb-1">Search 733 helpful articles in 33 topical categories ranging from identifying abuse to healing from it.</p>
                            <small><a href="https://www.domesticshelters.org/">www.domesticshelters.org/</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.acf.hhs.gov/fysb">Family & Youth Services Bureau</a></h5>
                            </div>
                            <p class="mb-1">The Family and Youth Services Bureau supports the organizations and communities that work every day to put an end to youth homelessness, adolescent pregnancy and domestic violence.</p>
                            <small><a href="https://www.acf.hhs.gov/fysb">www.acf.hhs.gov/fysb</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.ncadv.org">National Coalition Against Domestic Violence</a></h5>
                            </div>
                            <p class="mb-1">The National Coalition Against Domestic Violence (NCADV)'s mission is to lead, mobilize and raise our voices to support efforts that demand a change of conditions that lead to domestic violence such as patriarchy, privilege, racism, sexism, and classism. We are dedicated to supporting survivors and holding offenders accountable and supporting advocates.</p>
                            <small><a href="https://www.ncadv.org">www.ncadv.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.nrcdv.org">RAINN - The National Resource Centere on Domestic Violence (NRCDV)</a></h5>
                            </div>
                            <p class="mb-1">The National Resource Center on Domestic Violence (NRCDV) has been a comprehensive source of information for those wanting to educate themselves and help others on the many issues related to domestic violence.</p>
                            <small><a href="https://www.nrcdv.org">www.nrcdv.org</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Legal Assistance
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.womenslaw.org/">Women's Law</a></h5>
                            </div>
                            <p class="mb-1">Despite its name, WomensLaw.org provides information that is relevant to people of all genders, not just women. Their Email Hotline will provide legal information to anyone who reaches out with legal questions or concerns regarding domestic violence, sexual violence, or any other topic covered on WomensLaw.org.</p>
                            <small><a href="https://www.womenslaw.org/">www.womenslaw.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.bwjp.org/index.html">Battered Women's Justice Project</a></h5>
                                <small>1-800-903-1111</small>
                            </div>
                            <p class="mb-1">The Battered Women’s Justice Project staff may be able to provide helpful information about the legal system and referrals to local and national legal resources. They can help you focus your questions about the criminal and civil legal system which may facilitate your communication with the agencies or courts about your case. They can also refer you to other resources that are available locally and nationally.</p>
                            <small><a href="https://www.bwjp.org/index.html">www.bwjp.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.ncdbw.org/">National Clearinghouse for the Defense of Battered Women</a></h5>
                                <small>1-215-351-0010</small>
                            </div>
                            <p class="mb-1">The National Clearinghouse for the Defense of Battered Women is resource and advocacy center for battered women charged with any crime in which their history of abuse is relevant (or potentially relevant) to their legal defense.</p>
                            <small><a href="https://www.ncdbw.org/">www.ncdbw.org</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Churches and Religious Organizations
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.google.com">Cras justo odio</a></h5>
                                <small>1-800-555-5555</small>
                            </div>
                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small><a href="https://www.google.com">www.loremipsum.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.google.com">Dapibus ac facilisis in</a></h5>
                                <small>1-800-555-5555</small>
                            </div>
                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small><a href="https://www.google.com">www.dolorsitamet.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.google.com">Morbi leo risus</a></h5>
                                <small>1-800-555-5555</small>
                            </div>
                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small><a href="https://www.google.com">www.adpiiscing.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.google.com">Porta ac consectetur ac</a></h5>
                                <small>1-800-555-5555</small>
                            </div>
                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small><a href="https://www.google.com">www.consectetur.com</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>