<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/">Haven</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="../">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#map">Find Havens</a></li>
                <li class="menu-active"><a href="../resources">Resources</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../register">Register</a></li>
                <li>
                    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->




</body>
</html>