<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/">Haven</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="../">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#map">Find Havens</a></li>
                <li class="menu-active"><a href="../resources">Resources</a></li>
<!--                <li><a href="../login">Login</a></li>-->
<!--                <li><a href="../register">Register</a></li>-->
<!--                <li>-->
<!--                    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>-->

<!--                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--                        <input hidden type="submit" value="Sign Out"/>-->
<!--                    </form></li>-->
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->


<br/><br/><br/><br/><br/>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Domestic Violence Organizations & Hotlines
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.thehotline.com">National Domestic Violence Hotline</a></h5>
                                <small>1-800-799-SAFE</small>
                            </div>
                            <p class="mb-1">National Domestic Violence Hotline can help victims, survivors of domestic violence. Call 1-800-799-7233. Chat w/ an advocate on their website.</p>
                            <small><a href="https://www.thehotline.com">www.thehotline.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.rainn.org/">RAINN (Rape, Abuse & Incest National Network)</a></h5>
                                <small>1-800-656-HOPE</small>
                            </div>
                            <p class="mb-1">RAINN is the nation's largest anti-sexual violence organization. RAINN created and operates the National Sexual Assault Hotline (800.656.HOPE, online.rainn.org y rainn.org/es) in partnership with more than 1,000 local sexual assault service providers across the country</p>
                            <small><a href="https://www.rainn.org/">www.rainn.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://victimconnect.org/">Victim Connect</a></h5>
                                <small>1-855-4-VICTIM</small>
                            </div>
                            <p class="mb-1">The VictimConnect Resource Center is a referral helpline where crime victims can learn about their rights and options confidentially and compassionately. </p>
                            <small><a href="https://victimconnect.org/">www.victimconnect.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.safehorizon.org">Safe Horizon</a></h5>
                                <small>1-800-621-HOPE</small>
                            </div>
                            <p class="mb-1">Their three 24-hour hotlines operate seven days a week, 365 days a year. Advocates are standing by right now to help you. For help with domestic violence, please call their domestic violence hotline: 1- 800-621-HOPE (4673).</p>
                            <small><a href="https://www.safehorizon.org">www.safehorizon.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.loveisrespect.org/">Love Is Respect</a></h5>
                                <small>1-866-331-9474</small>
                            </div>
                            <p class="mb-1">Highly-trained advocates offer support, information and advocacy to young people who have questions or concerns about their dating relationships. We also provide information and support to concerned friends and family members, teachers, counselors, service providers and members of law enforcement. Free and confidential phone, live chat and texting services are available 24/7/365.</p>
                            <small><a href="https://www.loveisrespect.org/">www.loveisrespect.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.domesticshelters.org/">Domestic Shelters</a></h5>
                            </div>
                            <p class="mb-1">Search 733 helpful articles in 33 topical categories ranging from identifying abuse to healing from it.</p>
                            <small><a href="https://www.domesticshelters.org/">www.domesticshelters.org/</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.acf.hhs.gov/fysb">Family & Youth Services Bureau</a></h5>
                            </div>
                            <p class="mb-1">The Family and Youth Services Bureau supports the organizations and communities that work every day to put an end to youth homelessness, adolescent pregnancy and domestic violence.</p>
                            <small><a href="https://www.acf.hhs.gov/fysb">www.acf.hhs.gov/fysb</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.ncadv.org">National Coalition Against Domestic Violence</a></h5>
                            </div>
                            <p class="mb-1">The National Coalition Against Domestic Violence (NCADV)'s mission is to lead, mobilize and raise our voices to support efforts that demand a change of conditions that lead to domestic violence such as patriarchy, privilege, racism, sexism, and classism. We are dedicated to supporting survivors and holding offenders accountable and supporting advocates.</p>
                            <small><a href="https://www.ncadv.org">www.ncadv.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.nrcdv.org">The National Resource Centere on Domestic Violence (NRCDV)</a></h5>
                            </div>
                            <p class="mb-1">The National Resource Center on Domestic Violence (NRCDV) has been a comprehensive source of information for those wanting to educate themselves and help others on the many issues related to domestic violence.</p>
                            <small><a href="https://www.nrcdv.org">www.nrcdv.org</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Legal Assistance
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.legalmomentum.org">Legal Momentum</a></h5>
                                <small>1-212-925-6635</small>
                            </div>
                            <p class="mb-1">Legal Momentum's mission is to ensure economic and personal security for all women and girls by advancing equity in education, the workplace, and the courts. We provide an expert legal voice to seek justice for women.</p>
                            <small><a href="https://www.legalmomentum.org">www.legalmomentum.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.womenslaw.org/">Women's Law</a></h5>
                            </div>
                            <p class="mb-1">Despite its name, WomensLaw.org provides information that is relevant to people of all genders, not just women. Their Email Hotline will provide legal information to anyone who reaches out with legal questions or concerns regarding domestic violence, sexual violence, or any other topic covered on WomensLaw.org.</p>
                            <small><a href="https://www.womenslaw.org/">www.womenslaw.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.bwjp.org/index.html">Battered Women's Justice Project</a></h5>
                                <small>1-800-903-1111</small>
                            </div>
                            <p class="mb-1">The Battered Women’s Justice Project staff may be able to provide helpful information about the legal system and referrals to local and national legal resources. They can help you focus your questions about the criminal and civil legal system which may facilitate your communication with the agencies or courts about your case. They can also refer you to other resources that are available locally and nationally.</p>
                            <small><a href="https://www.bwjp.org/index.html">www.bwjp.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.ncdbw.org/">National Clearinghouse for the Defense of Battered Women</a></h5>
                                <small>1-215-351-0010</small>
                            </div>
                            <p class="mb-1">The National Clearinghouse for the Defense of Battered Women is resource and advocacy center for battered women charged with any crime in which their history of abuse is relevant (or potentially relevant) to their legal defense.</p>
                            <small><a href="https://www.ncdbw.org/">www.ncdbw.org</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Other Resources
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="http://www.ywca.org/">YWCA</a></h5>
                                <small>1-202-467-0801</small>
                            </div>
                            <p class="mb-1">The YWCA of the U.S.A. is a national women’s organization with 309 local affiliates. Local YWCA’s offer a variety of services including services for victims of domestic violence and rape, emergency and long term housing, child care and youth development programs, employment training, women’s health programs, resource and referral services and advocacy.</p>
                            <small><a href="http://www.ywca.org/">www.ywca.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.vinelink.com/#/homem">VINE (VineLink.com)</a></h5>
                            </div>
                            <p class="mb-1">Active in 47 states, VineLink.com allows women to search for an offender in custody by name or identification number, then register to be alerted if the offender has been released or transferred, or has escaped.</p>
                            <small><a href="https://www.vinelink.com/#/home">www.vinelink.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="http://nnedv.org/">Education and Job Training Assistance Fund</a></h5>
                            </div>
                            <p class="mb-1">Grants from the Allstate Foundation help domestic violence victims enter and stay in the workforce. The money (up to $1,000) can be used for classes, clothes, computers, and other resources.</p>
                            <small><a href="http://nnedv.org/">www.nnedv.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.aafprs.org/">Face to Face: The Domestic Violence Project</a></h5>
                                <small>1-800-842-4546</small>
                            </div>
                            <p class="mb-1">This program, partnered with the American Academy of Facial Plastic and Reconstructive Surgery (AAFPRS), provides free plastic and reconstructive surgery to victims who've sustained injuries to the face, head, or neck.</p>
                            <small><a href="https://www.aafprs.org/">www.aafprs.org/</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.salvationarmyusa.org/usn/stop-domestic-abuse/">The Salvation Army</a></h5>
                                <small>1-800-842-4546</small>
                            </div>
                            <p class="mb-1">Offers confidential emergency and transitional shelters where victims and their kids can sleep safely while we help them heal and begin living independently. After addressing any physical wounds with immediate medical attention, each Salvation Army Safe House helps to heal the emotional scars of domestic violence.</p>
                            <small><a href="https://www.salvationarmyusa.org/usn/stop-domestic-abuse/">www.salvationarmyusa.org/</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="https://www.givebackasmile.com/">Give Back A Smile</a></h5>
                                <small>1-800-773-4227</small>
                            </div>
                            <p class="mb-1">Front teeth damaged by a violent partner or spouse are repaired pro bono.</p>
                            <small><a href="https://www.givebackasmile.com/">www.givebackasmile.com</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="http://www.thebreathenetwork.org/">The Breathe Network</a></h5>
                                <small>1-800-773-4227</small>
                            </div>
                            <p class="mb-1">The Breathe Network connects survivors of sexual violence with sliding-scale, trauma-informed, holistic healing arts practitioners across the country.</p>
                            <small><a href="http://www.thebreathenetwork.org/">www.thebreathenetwork.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="http://www.giftfromwithin.org/">Gift From Within</a></h5>
                                <small>1-800-773-4227</small>
                            </div>
                            <p class="mb-1">Gift from Within is a non-profit organization dedicated to those who suffer post-traumatic stress disorder (PTSD), those at risk for PTSD, and those who care for traumatized individuals; develops and disseminates educational material, including videotapes, articles, books, and other resources through its website; and, maintains a roster of survivors who are willing to participate in an international network of peer support.</p>
                            <small><a href="http://www.giftfromwithin.org/">www.giftfromwithin.org</a></small>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><a href="http://www.campusoutreachservices.com/">Campus Outreach Services</a></h5>
                            </div>
                            <p class="mb-1">COS offers online resources for sexual assault education and training, along with publications, webinars, and consulting services around sexual and cyber misconduct.</p>
                            <small><a href="http://www.campusoutreachservices.com/">www.campusoutreachservices.com</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div><br/><br/><br/><br/><br/>


<!--========Footer==========-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Haven</strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- #footer -->

</body>
</html>